/* ------------------------------------------------------*/
/* ---------->>> everything gets imported! <<<-----------*/
/* ------------------------------------------------------*/
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css";
.clearfix {
  clear: both;
  content: '';
  display: table;
}
* {
  background: transparent;
  box-sizing: border-box;
  line-height: 1.333rem;
}
.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}
.column {
  float: left;
  padding-left: 1rem;
  padding-right: 1rem;
}
.group {
  margin-left: -1rem;
  margin-right: -1rem;
}
.group::after {
  clear: both;
  content: '';
  display: table;
}
.half {
  width: 50%;
}
/** ============================== **/
/** ============================== **/
/** opportunities listing specific **/
/** ============================== **/
/** ============================== **/
.filter-list,
.title-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: -1rem;
  margin-right: -1rem;
}
.filter-list::after,
.title-list::after {
  clear: both;
  content: '';
  display: table;
}
/** filter controls/buttons **/
.filter-list {
  margin: 2rem 0;
  font-size: 1rem;
  line-height: 1rem;
}
.filter-list > li {
  float: left;
  padding-left: 1rem;
  padding-right: 1rem;
  padding: 0;
  width: 25%;
  text-align: center;
}
.filter-list > .search {
  padding-right: 2rem;
  width: 50%;
}
.filter-list > .search form {
  height: 3rem;
}
.filter-list > .search form label.control-label {
  float: left;
  width: 15%;
  background: #333333;
  border: 1px solid;
  border-color: #333333;
  height: 3rem;
  line-height: 3rem;
  border-top-left-radius: .25rem;
  border-bottom-left-radius: .25rem;
  border-right: none;
  color: #e7e7e7;
}
.filter-list > .search form input.form-control {
  height: 3rem;
  float: right;
  width: 85%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-color: #333333;
}
.filter-list > .search form::after {
  clear: both;
  content: '';
  display: table;
}
.filter-list > li a {
  display: block;
  padding: 1rem;
  border: 1px solid #bbbbbb;
  color: #333333;
  text-decoration: none;
}
.filter-list > li a:hover,
.filter-list > li a:active {
  background: #b32317;
  color: white;
  border-color: #b32317;
}
.filter-list > li a:active {
  box-shadow: inset 0px 0px 0.5rem rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0px 0px 0.5rem rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0px 0px 0.5rem rgba(0, 0, 0, 0.5);
}
/** listing of opportunities **/
.title-list > li {
  font-size: 1rem;
  margin: 0;
  min-height: 250px;
  padding: 0;
  position: relative;
  float: left;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 50%;
  margin-bottom: 2rem;
}
.title-list > li::after {
  content: '';
  border-bottom: 1px dashed #b32317;
  position: absolute;
  bottom: 0;
  left: 1rem;
  right: 1rem;
}
.title-list > .has-fee::before {
  content: '$';
  background: green;
  position: absolute;
  top: 0;
  right: 1rem;
  width: 4rem;
  height: 2rem;
  color: white;
  line-height: 2rem;
  text-align: center;
}
.title-list h2,
.title-list h2 > a {
  color: #b32317;
  text-decoration: none;
  font-size: 1.25rem;
}
.title-list h2,
.title-list .deadline,
.title-list .created {
  margin-bottom: 0.33rem;
}
.title-list .deadline {
  font-weight: bold;
}
.title-list .created {
  font-style: italic;
  color: #bbbbbb;
}
