/* ------------------------------------------------------*/
/* ---------->>> everything gets imported! <<<-----------*/
/* ------------------------------------------------------*/
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css";
.clearfix {
  clear: both;
  content: '';
  display: table;
}
/* Front Slideshow
   ============================================================== */
ul.slideshow {
  position: relative;
  margin: 0;
  padding: 0;
}
ul.slideshow li {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  position: absolute;
  z-index: 1;
  opacity: 0;
  transition: opacity 500ms;
}
ul.slideshow li.active {
  z-index: 10;
  opacity: 1;
}
ul.slideshow li img {
  width: 100%;
  height: auto;
}
/** Facebook event iframe styling **/
ul.fb-events {
  background: rgba(0, 0, 0, 0.1);
  list-style: none;
  margin: 0;
  padding: .01em;
}
ul.fb-events ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.fb-events .event {
  background: white;
  border: 1px solid acf-med-gray;
  font-size: .85em;
  margin: 1.5em;
  padding: 1.5em;
  max-width: 100%;
}
ul.fb-events .event:hover,
ul.fb-events .event:focus {
  border-color: #b32317;
  box-shadow: 0 0 0.75em rgba(140, 165, 115, 0.5);
}
ul.fb-events .event .info {
  position: relative;
}
ul.fb-events .event .info .name h3 {
  font-size: 1.1111em;
  margin: .33em 0;
  line-height: 1.25;
}
ul.fb-events .event .info .name h3 a {
  color: #bbbbbb;
  text-decoration: none;
  line-height: 1.25;
}
ul.fb-events .event .info .name h3 a:hover,
ul.fb-events .event .info .name h3 a:focus {
  border-bottom: 1px solid #b32317;
}
ul.fb-events .event .info .cover {
  margin: -1.5em -1.5em 0;
}
ul.fb-events .event .info .cover img {
  width: 100%;
}
ul.fb-events .event .info .start,
ul.fb-events .event .info .end,
ul.fb-events .event .info .date,
ul.fb-events .event .info .date-time {
  color: #bbbbbb;
}
ul.fb-events .event .info .location {
  color: #bbbbbb;
  font-size: .95em;
  margin: 0 0 1em;
}
ul.fb-events .event .info .location a {
  color: #bbbbbb;
  border-bottom: 1px solid #bbbbbb;
  text-decoration: none;
}
ul.fb-events .event .info .location a:hover,
ul.fb-events .event .info .location a:focus {
  color: #333333;
  border-bottom: 1px solid #b32317;
}
* {
  background: transparent;
  box-sizing: border-box;
  line-height: 1.333rem;
}
.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}
.column {
  float: left;
  padding-left: 1rem;
  padding-right: 1rem;
}
.column-right {
  float: right;
  padding-left: 1rem;
  padding-right: 1rem;
}
.group {
  margin-left: -1rem;
  margin-right: -1rem;
}
.group::after {
  clear: both;
  content: '';
  display: table;
}
.half {
  width: 50%;
}
/** ============================== **/
/** ============================== **/
/** opportunities listing specific **/
/** ============================== **/
/** ============================== **/
.filter-list,
.title-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: -1rem;
  margin-right: -1rem;
}
.filter-list::after,
.title-list::after {
  clear: both;
  content: '';
  display: table;
}
/** filter controls/buttons **/
.filter-list {
  margin: 2rem 0;
  font-size: 1rem;
  line-height: 1rem;
}
.filter-list > li {
  float: left;
  padding-left: 1rem;
  padding-right: 1rem;
  padding: 0;
  width: 27.5%;
  text-align: center;
}
.filter-list > .search {
  padding-right: 1.5rem;
  width: 45%;
}
.filter-list > .search form {
  height: 3rem;
}
.filter-list > .search form label.control-label {
  float: left;
  width: 20%;
  background: #333333;
  border: 1px solid;
  border-color: #333333;
  height: 3rem;
  line-height: 3rem;
  border-top-left-radius: .25rem;
  border-bottom-left-radius: .25rem;
  border-right: none;
  color: #e7e7e7;
}
.filter-list > .search form input.form-control {
  height: 3rem;
  float: right;
  width: 80%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-color: #333333;
}
.filter-list > .search form::after {
  clear: both;
  content: '';
  display: table;
}
.filter-list > li a {
  display: block;
  padding: 1rem 0;
  overflow: hidden;
  white-space: nowrap;
  border: 1px solid #bbbbbb;
  color: #333333;
  text-decoration: none;
}
.filter-list > li a:hover,
.filter-list > li a:active {
  background: #b32317;
  color: white;
  border-color: #b32317;
}
.filter-list > li a:active {
  box-shadow: inset 0px 0px 0.5rem rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0px 0px 0.5rem rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0px 0px 0.5rem rgba(0, 0, 0, 0.5);
}
/** listing of opportunities **/
.title-list > li {
  font-size: 1rem;
  margin: 0;
  min-height: 250px;
  padding: 0;
  position: relative;
  float: left;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 50%;
  margin-bottom: 2rem;
}
.title-list > li::after {
  content: '';
  border-bottom: 1px dashed #b32317;
  position: absolute;
  bottom: 0;
  left: 1rem;
  right: 1rem;
}
.title-list > .has-fee::before {
  content: '$';
  background: green;
  position: absolute;
  top: 0;
  right: 1rem;
  width: 4rem;
  height: 2rem;
  color: white;
  line-height: 2rem;
  text-align: center;
}
.title-list > .has-fee h2 {
  margin-right: 3rem;
}
.title-list h2,
.title-list h2 > a {
  color: #b32317;
  text-decoration: none;
  font-size: 1.25rem;
}
.title-list h2,
.title-list .deadline,
.title-list .created {
  margin-bottom: 0.33rem;
}
.title-list .deadline {
  font-weight: bold;
}
.title-list .created {
  font-style: italic;
  color: #bbbbbb;
}
