* {
  background: transparent;
  box-sizing: border-box;
  line-height: 1.333rem;
}

.mb(@amount) { margin-bottom: @amount; }

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.column {
  float: left;
  padding-left: 1rem;
  padding-right: 1rem;
}

.group {
  margin-left: -1rem;
  margin-right: -1rem;
  &::after {
    .clearfix;
  }
}

.half {
  width: 50%;
}

/** ============================== **/
/** ============================== **/
/** opportunities listing specific **/
/** ============================== **/
/** ============================== **/

.filter-list,
.title-list {
  .list-reset;
  .group;
}

/** filter controls/buttons **/
.filter-list {
  margin: 2rem 0;
  font-size: 1rem;
  line-height: 1rem;
}
.filter-list > li {
  .column;
  padding:0;
  width: 27.5%;
  text-align: center;
}

.filter-list > .search {
  padding-right: 1.5rem;
  width: 45%;
}

.filter-list > .search {
  form {
    height: 3rem;

    label.control-label {
      float: left;
      width: 20%;
      background: @acf-dark-gray;
      border: 1px solid;
      border-color: @acf-dark-gray;
      height: 3rem;
      line-height: 3rem;
      border-top-left-radius: .25rem;
      border-bottom-left-radius: .25rem;
      border-right: none;
      color: @acf-light-gray;
    }
    input.form-control {
      height: 3rem;
      float: right;
      width: 80%;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-color: @acf-dark-gray;
    }
    &::after {
      .clearfix;
    }
  }
}


.filter-list > li a {
  display: block;
  padding: 1rem 0;
  overflow: hidden;
  white-space: nowrap;
  border: 1px solid @acf-med-gray;
  color: @acf-dark-gray;
  text-decoration: none;

  &:hover,
  &:active {
    background: @acf-red;
    color: white;
    border-color: @acf-red;
  }
  &:active {
    box-shadow:inset 0px 0px .5rem rgba(0,0,0,.5);
    -webkit-box-shadow:inset 0px 0px .5rem rgba(0,0,0,.5);
    -moz-box-shadow:inset 0px 0px .5rem rgba(0,0,0,.5);
  }
}

/** listing of opportunities **/
.title-list {
  > li {
    font-size: 1rem;
    margin: 0;
    min-height: 250px;
    padding: 0;
    position: relative;
    .column;
    .half;
    .mb(2rem);

    &::after {
      content: '';
      border-bottom: 1px dashed @acf-red;
      position: absolute;
      bottom: 0;
      left: 1rem;
      right: 1rem;
    }
  }

  > .has-fee {
    &::before {
      content: '$';
      background: green;
      position: absolute;
      top:0;
      right:1rem;
      width: 4rem;
      height: 2rem;
      color: white;
      line-height: 2rem;
      text-align: center;
    }
  }

  h2,
  h2 > a {
    color: @acf-red;
    text-decoration: none;
    font-size: 1.25rem;
  }

  h2,
  .deadline,
  .created {
    .mb(.33rem);
  }

  .deadline {
    font-weight: bold;
  }

  .created {
    font-style: italic;
    color: @acf-med-gray;
  }
}
